.navbar {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 7%;
    margin-bottom: 5px;
    background: #000000;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 30%;
}
.logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.usuario {
    width: 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
.usuario:hover::before {
    content: "Iniciar sesión";
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
    z-index: 1;
}
ul{
    list-style: none;
    text-align: left;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.2s ease;
}
ul li:hover {
    color: #16d8e8;
  }
