.marquee-container {
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .marquee-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    color: white;
    margin: 1px;
  }
  
  @keyframes marquee {
    0% { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
  }
  