.product-item {
  padding: 16px 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px; 
}


.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.product-image {
  width: 96px;
  height: auto;
}

.product-title {
  margin-bottom: 8px;
  word-wrap: break-word;
  width: 100%;
  max-width: 150px;
}

.product-sizes-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 50px;
  position: absolute;
  left: 50%;
}

.product-sizes {
  display: flex;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.size-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.add-button {
  color: #00bfff;
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  padding-top: 50px;
}

.add-button:hover {
  color: #16d8e8;
  transform: scale(1.1);
}

.app-container {
  padding: 16px;
  background-color: black;
}


@media (max-width: 600px) {
  .product-item {
    padding: 8px 10px;
    margin-bottom: 16px;
    flex-wrap: wrap; 
  }

  .product-info {
    width: 80px; 
  }

  .product-image {
    width: 48px; 
  }

  .product-title {
    font-size: 12px; 
    max-width: 80px; 
  }

  .product-sizes-container {
    padding-top: 16px; 
    width: auto; 
  }

  .product-sizes {
    gap: 10px; 
    position: static; 
    transform: none; 
    justify-content: flex-start; 
  }

  .size-item {
    font-size: 10px; 
  }

  .add-button {
    font-size: 18px; 
    padding-top: 16px; 
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .product-item {
    padding: 12px 40px;
    margin-bottom: 16px;
  }

  .product-info {
    width: 120px;
  }

  .product-image {
    width: 80px;
  }

  .product-title {
    font-size: 16px;
    max-width: 120px;
  }

  .product-sizes-container {
    padding-top: 20px;
    position: absolute;
    left: 50%;
  }

  .product-sizes {
    gap: 30px;
  }

  .add-button {
    font-size: 20px;
    padding-top: 20px;
  }
}
