.salesbar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 7px 50px;
  }
  
  .lineapues {
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
  
  .top-sections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    margin: 18px;
  }
  
  .left-sections {
    display: flex;
    align-items: center;
    padding-left: 250px;
  }
  
  .nav-buttons {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }
  
  .nav-buttons:hover {
    color: #16d8e8;
    transform: scale(1.1);
  }
  
  .ventas-title {
    font-size: 26px;
    color: #16d8e8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-sections {
    display: flex;
    align-items: center;
    padding-right: 250px;
  }
  
  .custom-report-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }
  
  .custom-report-button:hover {
    color: #16d8e8;
  }
  
  @media (max-width: 768px) {
    .top-sections {
      flex-direction: column;
      align-items: center;
    }
  
    .left-sections, .right-sections {
      margin-bottom: 10px;
    }
  
    .ventas-title {
      margin-top: 10px;
      position: static;
      transform: none;
    }
  
    .nav-buttons, .custom-report-buttons {
      font-size: 14px;
    }
  }
  