/* MainPageAdmin.css */
body {
    background-color: #ffffff; 
  }
  
  .MainPageAdmin {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  .MainPageAdmin {
    flex: 1;
  }
  