.page-container {
    width: 100%;
    padding: 20px;
  }
  
  .navigation-bar {
    margin-bottom: 20px;
  }
  
  .contact-section {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .contact-section h2, .contact-section p {
    margin-bottom: 20px;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 20px;
  }
  
  .input-flex-container input {
    flex: 1;
    max-width: 600px;
    padding: 10px;
  }
  
  textarea {
    width: 100%;
    max-width: 1000px;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #333;
  }